<h3>Research Lines</h3>
<br>

<% @clusters.each do |cluster| %>
	<%= cluster.name %> <%= link_to 'borrar', cluster_path(cluster), method: :delete %> <br>
<% end %>

<br>
<%= link_to 'Crear nueva Research Line', new_cluster_path, :class => 'btn btn-dark btn-sm' %>