<h3>Investigadores</h3>
<br>
<%= link_to 'Crear nuevo investigador', new_person_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<table>
	<thead>
		<th>Nombre Investigador</th>
		<th>Cluster</th>
		<th></th>
	</thead>
	
	<% @persons.each do |person| %>
		<tr>
			<td><%= link_to person.cedeusname, person_path(person) %></td>
			<td>
				<% person.clusters.each do |cluster| %>
					<%= cluster.name %>, 
				<% end %>
			</td>
			 <td><%= link_to 'borrar', person_path(person), method: :delete %></td>
		</tr>
	<% end %>
</table>
