<h3>Productividad DITL</h3>
<br><br>

<div class="row">
	<div class="col-12 col-md-3">
		<strong>Nombre Investigador</strong>
		<ul>
			<li>Juan Enrique Coeymans</li>
			<li>Felipe Delgado</li>
			<li>Patricia Galilea</li>
			<li>Ricardo Giesen</li>
			<li>Juan Carlos Herrera</li>
			<li>Ricardo Hurtubia</li>
			<li>Mathias Klapp</li>
			<li>Homero Larraín</li>
			<li>Hans Löbel</li>
			<li>Juan Carlos Muñoz</li>
			<li>Juan de Dios Ortúzar</li>
			<li>Sebastián Raveau</li>
			<li>Luis Rizzi</li>
			<li>Hugo Silva</li>
		</ul>
	</div>
	<div class="col-12 col-md-9">
		<h5>Revistas WoS - DITL</h5>
		<div style="font-size: 12px">
			<h6><% temp = 2021 %></h6>
			<% @paper_wos.order(registro: :desc).each do |paper| %>
				<% if paper.registro != temp %>
					<br>
					<% temp -= 1 %>
					<h6><%= temp %></h6>
				<% end %>
				<% if paper.respaldos.first != nil %>
					<%= link_to paper.titulo, asset_path(paper.respaldos.first.file), :target => "_blank" %><br>
				<% else %>
					<%= paper.titulo %><br>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

