table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}
th, td {
  padding: 5px;
  font-size: 10px;
}

th {
  text-align: left;
}


.navegador {
	background-color: rgb(12,183,125);
	padding: 3px 0 3px 0;
}

.link_nav {
	color:white;
}

.vertical {
	max-width:30px;
	height: 100px;
	transform: rotate(270deg);

}




